.header {
  background-color: var(--main-color);
  color: var(--font-light);
  font-size: 1.5rem;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  gap: 50px;
  padding: 1rem 0;
}

.link {
  color: inherit;
}

.active {
  color: var(--second-color);
}
